
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    /*background-color: #efefef;*/
    font-family: 'Muli', sans-serif;
}

.label{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
    color: #400000;

}

#container
{
    margin: auto;
    margin-top: 50px;
    font-family: 'Muli', serif;
    width: 80%;
}
/* Header */
#header {
    font-family: 'Lato';
    height: 50px;
    margin: 0px;
    padding: 0px;
    background:#fff;
    border:1px solid #CCC;
    width: 100%;
    position: fixed;
    text-align: right;
    top: 0px;
}

.header_home{
    margin-top: -10px;
    float: left;
    font-family: 'Yellowtail';
    font-size: 30px;
    text-decoration: underline;
    /*text-shadow:;*/
}

.logo{
    height: 40px;
    float: left;
    margin-top: -13px;
}

#header2 {
    font-family: 'Lato';
    height: 30px;
    font-size: 10px;
    margin: 0px;
    margin-top: 50px;
    padding: 0px;
    background:#fff;
    border:1px solid #CCC;
    width: 100%;
    position: fixed;
    top: 0px;
}

/* Other Misc */

#footer {
    background:#f0f0f0;
    bottom: 0px;
}

#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

ul li {
    background-repeat: no-repeat;
    background-position: 0px 5px; 
    padding-left: 14px; 
}

/* unvisited link */
a:link {
    color: #440000 !important;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #400000 !important;
    text-decoration: none;

}

/* mouse over link */
a:hover {
    color: #f00000;
    text-decoration: none;

}

/* selected link */
a:active {
    color: #0000FF;
    text-decoration: none;

}
td, th {
    border: solid 1px black;
    padding: 7px;

}
table {
  border-collapse: collapse;
}

/* Patient Page */

.img1{
    width: 100%;
}

.patient1{
    border: 1px solid red;
    height: 30%;
}

.patient2{
    border: 1px solid red;
    float: left;
    height: 50%;
}
.patient3{
    border: 1px solid red;
}
.patient4{
    border: 1px solid red;
}

